/*
* A red skeumorphic bookmark with a triangular indent at the bottom
* Inspiration: https://www.imprint5.com/media/catalog/product/cache/e4d02a0136e3d50fa97fad0473332714/1/0/10292565649_1472131401.jpg
*/
.bookmark {
  --border-width: 1px;
  --color: var(--color-red-800);
  --shadow-color: var(--color-gray-800);

  border-radius: 0.25rem;
  border-left-width: var(--border-width);
  border-right-width: var(--border-width);
  border-top-width: var(--border-width);
  background-color: var(--color);
  padding: calc(var(--spacing) * 3);
  padding-bottom: 5em;

  /* Indent */
  clip-path: polygon(
    /* Top left */ 0% 0%,
    /* Top right */ 100% 0%,
    /* Bottom right */ 100% 100%,
    /* Middle of indent */ 50% 66%,
    /* Bottom left */ 0% 100%
  );
}

.bookmark--light {
  --color: var(--color-red-700);
  --shadow-color: var(--color-gray-700);
}

.bookmark-gradient {
  background: linear-gradient(var(--color) 90%, var(--shadow-color));
}
