@view-transition {
  navigation: auto;
  /*
  * Prevent the transition from blocking clicks
  * See https://css-tricks.com/keeping-the-page-interactive-while-a-view-transition-is-running/
  */
  pointer-events: none;
}

/* Prevent fading through white during the page flip */
:root {
  view-transition-name: none;
}

/* Animates the back flipping horizontally from right to left */
@keyframes page-flip {
  0% {
    /* The perspective makes it a lot more realistic */
    transform: perspective(5000px) rotate(0deg) rotateX(0deg) rotateY(0deg);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: perspective(10000px) rotateY(-190deg) translateX(70%);
    opacity: 1;
  }
}

::view-transition-old(page) {
  animation: page-flip 1.5s;
  animation-timing-function: ease-in-out;
  perspective: 1000px;
  isolation: isolate;
  mix-blend-mode: normal;
}

/* 
* Fading the new page in is necessary because the browser automatically fades
* the two pages together, causing the colours to multiply and create a white glare
*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::view-transition-new(page) {
  animation: fade-in 1.5s ease-in-out;
  isolation: isolate;
  mix-blend-mode: normal;
}
