.link {
  position: relative;
  text-decoration: none;
}

.link::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* For a bit of space between the link and the line */
  top: 90%;

  border-top-width: 2px;
  border-color: var(--color-amber-700);
  border-radius: 400% / 40px 10px 0 0;
  transform: rotate(2deg);
}
