---
import RecipeLayout from "@layouts/recipeLayout.astro";
import "@styles/global.css";
import { allDishes } from "src/utils/allDishes.ts";
---

<RecipeLayout>
  <h1>Recipe Book Index</h1>
  {
    Object.keys(allDishes).map((slug) => (
      <li>
        <a href={`${import.meta.env.BASE_URL}/dishes/${slug}`}>
          {allDishes[slug].title}
        </a>
      </li>
    ))
  }
</RecipeLayout>
