---
import RecipeLayout from "@layouts/recipeLayout.astro";
import "@styles/global.css";
import DishList from "@components/dishList.tsx";
import Page from "@components/page.astro";
import { allDishes } from "src/utils/allDishes";
---

<RecipeLayout>
  <Page>
    <h1 class="my-2 text-center text-xl font-bold">Menu Index</h1>
    <section>
      <DishList client:load dishes={Object.values(allDishes)} />
    </section>
  </Page></RecipeLayout
>
