---
import PageBlock from "@components/pageBlock.astro";
import Page from "@components/page.astro";

const { title } = Astro.props;
---

<Page>
  <div class="flex flex-col items-center gap-5">
    <h2 class="text-xl font-bold">{title}</h2>
    <section class="flex flex-col items-center gap-1 text-center">
      <ul class="text-left"><slot name="overview" /></ul>
      <PageBlock>
        <slot name="summary" slot="text" />
        <slot name="image" slot="image" />
      </PageBlock>
    </section>
    <section class="flex flex-col items-center">
      <slot name="extra" />
    </section>
  </div>
</Page>
