---
import Image from "astro/components/Image.astro";
import chanaDalImage from "@assets/chana-dal.jpg";
---

<div>
  <section>
    <p>Chana dal is a split chickpea curry</p>
    <Image src={chanaDalImage} alt="Image of chana dal" />
  </section>
</div>
