---
import Image from "astro/components/Image.astro";
import chanaDalImage from "@assets/chana-dal.jpg";
import RecipePage from "@components/recipePage.astro";
import type { RecipeTags } from "@types/index.d.ts";

export const tags: RecipeTags = {
  cuisine: "North Indian",
  spiciness: "Medium",
};
---

<RecipePage>
  <li slot="overview">Cuisine: North Indian</li>
  <p slot="summary">Chana dal is a split chickpea curry</p>
  <Image
    slot="image"
    src={chanaDalImage}
    alt="Chana dal in a bowl"
    width={400}
    height={400}
  />
</RecipePage>
