---
import Image from "astro/components/Image.astro";
import choleImage from "@assets/chole.webp";
import bhaturaImage from "@assets/bhatura.jpg";
---

<div>
  <section>
    <p>
      Chole is a Punjabi dish where chickpeas are infused with dried gooseberry
      (amla) with its own custom spice blend.
    </p>
    <Image src={choleImage} alt="Image of chole" />
    <p>Often served with bhature, a type of leavened, fried bread.</p>
    <Image src={bhaturaImage} alt="Image of a bhatura" />
  </section>
</div>
